.orders_container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 102.4rem;
}

.sidebar {
  width: 22.1rem;
  height: 102.4rem;
  background-color: var(--COLOR-MAIN);
}

.main_icon {
  margin: 3.2rem 4.2rem 5.6rem 4.2rem;
}

.sidebar_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.sidebarItemWrapper,
.logout_wrapper {
  width: 15.7rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.2rem;
  background-color: var(--COLOR-MAIN);
  border-radius: 1.2rem;
  cursor: pointer;
  border: none;
}

.sidebarItemWrapper:hover,
.sidebarItemWrapper:active {
  background-color: var(--COLOR-PRIMARY);
}

.sidebarItemWrapper img {
  padding-left: 1rem;
}

.sidebarItemWrapper p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #ffffff;
}

.orders_btn {
  background-color: var(--COLOR-PRIMARY);
}

.logout_wrapper {
  margin-top: 63rem;
}

.ordertype_container {
  display: flex;
  flex-direction: column;
  width: 121.9rem;
  height: 10.2rem;
}

.ordertype_wrapper {
  display: flex;
}
