.menuContainer {
  display: flex;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    height: 10.2rem;
  }

  h3 {
    font-weight: 600;
    font-size: 3.2rem;
    padding-left: 3.2rem;
  }
}

.search_wrapper {
  background-color: var(--COLOR-GRAY);
  width: 35rem;
  height: 4.8rem;
  border-radius: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-left: 61.8rem;
  margin-right: 4rem;
}

.search__input {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  color: #35536b;
}

.search__icon {
  margin-left: 1.6rem;
}

.notifications {
  cursor: pointer;
}

.menu_container {
  background-color: var(--COLOR-GRAY);
  height: 100%;
  width: 100%;
}

.menutype {
  display: flex;
  gap: 2.4rem;
  margin-left: 3.2rem;
  margin-top: 2.4rem;
  margin-bottom: 5.6rem;

  &__btn {
    font-weight: 500;
    font-size: 2rem;
    color: var(--COLOR-BLACK);
    height: 5.2rem;
    border-radius: 10rem;
    border: none;
    background-color: var(--COLOR-GRAY);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
  }

  &__btn:hover {
    background-color: var(--COLOR-PRIMARY);
    color: #fff;
  }

  &__coffee {
    width: 12.6rem;
  }

  &__bakery {
    width: 16.2rem;
  }

  &__dessert {
    width: 15.9rem;
  }

  &__drinkables {
    width: 16rem;
  }
}

.menuItem_container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3.2rem;
  gap: 3.2rem 2.4rem;
}

.orderCheck {
  position: absolute;
  bottom: 5.6rem;
  right: 13rem;
  width: 43rem;
  height: 7.7rem;
  border-radius: 10rem;
  background-color: var(--COLOR-PRIMARY);
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__type {
    font-weight: 400;
    font-size: 2.4rem;
    color: #fff;
  }

  &__price {
    font-weight: 600;
    font-size: 2.4rem;
    color: #fff;
  }
}

.additivesModal {
  width: 60rem;
  height: 55.2rem;
  padding: 3rem;

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.8rem;
  }

  & h3 {
    font-weight: 700;
    font-size: 2.4rem;
  }
}

.additives {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25.2rem;
  height: 3.9rem;
  gap: 1.2rem;
  // border-bottom: 1px solid #cccccc;

  &_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3.2rem;
  }

  &_radioBtn {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    border: 1px solid #ff8b5b;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .checkmark {
    width: 11px;
    height: 11px;
    background-color: #ff8b5b;
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &_radioBtn input {
    display: none;
  }

  &_radioBtn input:checked + .checkmark {
    opacity: 1;
  }

  &_line {
    width: 100%;
    display: flex;
    gap: 1.2rem;
    border-bottom: 1px solid #cccccc;
  }

  &_title {
    font-weight: 400;
    font-size: 2rem;
    color: #5b7e9a;
    padding-bottom: 1.5rem;
  }

  &_ingredient,
  &_price {
    font-weight: 400;
    font-size: 2rem;
    color: var(--COLOR-BLACK);
  }

  &_price {
    color: #5b7e9a;
  }

  &_sirop {
    margin-top: 4rem;
  }

  &_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    gap: 1.6rem;
  }
}

.counter {
  width: 12.8rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  background-color: var(--COLOR-PRIMARY);
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  border-radius: 10rem;

  &__remove,
  &__add {
    border: none;
    background-color: var(--COLOR-PRIMARY);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 2rem;
  }
}

.footer_addBtn {
  width: 39.2rem;
  height: 5.6rem;
  font-weight: 600;
  font-size: 1.6rem;
  background-color: var(--COLOR-PRIMARY);
  border: none;
  color: #fff;
  border-radius: 10rem;
  cursor: pointer;
}
