.profile_container {
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  height: 100vh;
}

.header {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10.2rem;

  &_title {
    font-weight: 600;
    font-size: 3.2rem;
  }
}

.btn {
  width: 72rem;
  height: 5.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--COLOR-GRAY);
  border-radius: 10rem;

  &_profile {
    width: 36rem;
    height: inherit;
    cursor: pointer;
    border-radius: 10rem 0 0 10rem;
    border: none;
    color: var(--COLOR-BLACK);
    font-weight: 600;
    font-size: 2rem;
  }

  &_schedule {
    width: 36rem;
    height: inherit;
    border-radius: 0 10rem 10rem 0;
    border: none;
    color: var(--COLOR-BLACK);
    font-weight: 600;
    font-size: 2rem;
  }

  &_profile:hover,
  &_schedule:hover {
    background-color: var(--COLOR-PRIMARY);
    color: #fff;
  }

  &_profile:hover {
    border-radius: 10rem;
  }

  &_schedule:hover {
    border-radius: 10rem;
  }
}

.about {
  background-color: var(--COLOR-GRAY);
  height: 100vh;
  width: 100%;
}
