.sidebar {
  width: 22.1rem;
  height: 100vh;
  background-color: var(--COLOR-MAIN);
}

.main_icon {
  margin: 3.2rem 4.2rem 5.6rem 4.2rem;
}

.sidebar_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  background-color: var(--COLOR-MAIN);
  position: relative;
}

// .navlink {
//   width: 15.7rem;
//   height: 4.8rem;
//   display: flex;
//   align-items: center;
//   gap: 1.2rem;
//   background-color: var(--COLOR-MAIN);
//   border-radius: 1.2rem;
//   cursor: pointer;
//   border: none;
//   text-decoration: none;

//   &:hover {
//     background-color: var(--COLOR-PRIMARY);
//   }

//   &.active {
//     background-color: var(--COLOR-PRIMARY);
//   }

//   img {
//     padding-left: 1rem;
//   }

//   &__title {
//     font-size: 1.8rem;
//     font-weight: 500;
//     color: #ffffff;
//   }
// }

.orders_btn {
  background-color: var(--COLOR-PRIMARY);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
}

.logout_modal {
  width: 60rem;
  height: 25.8rem;
  position: relative;
}

.modalTitle_wrapper {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  padding-bottom: 2.4rem;
  padding-top: 3rem;
}

.logoutModal_title {
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--COLOR-BLACK);
  text-align: center;
}

.logoutModal_close {
  position: absolute;
  right: 3rem;
  top: 3.2rem;
  cursor: pointer;
}

.logoutModal_subtitle {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 4.8rem;
  text-align: center;
}

.logoutModal_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.logoutModal_btn {
  width: 26rem;
  height: 5.6rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.6rem;
}

.btn__yes {
  background-color: #fff;
  color: var(--COLOR-PRIMARY);
  border: 2px solid var(--COLOR-PRIMARY);
}

.btn__no {
  background-color: var(--COLOR-PRIMARY);
  color: #fff;
}

.logout {
  position: absolute;
  top: 30rem;
}
